#!/usr/sbin/nft -f
table inet meow_gateway {
    set reserved4 {
        type ipv4_addr; flags interval
        elements = { 0.0.0.0/8, 10.0.0.0/8, 127.0.0.0/8, 169.254.0.0/16,
                     172.16.0.0/12, 192.168.0.0/16, 224.0.0.0/4, 240.0.0.0/4 }
    }
    set reserved6 {
        type ipv6_addr; flags interval
        elements = { ::1/128, fc00::/7, fe80::/10, ff00::/8 }
    }

    chain prerouting {
        type nat hook prerouting priority dstnat; policy accept;
        iifname != "@LAN_IF@" return
        meta nfproto ipv4 meta l4proto { tcp, udp } th dport 53 \
            dnat ip to @LAN_IP@:@DNSPORT@
        fib daddr type local return
        ip  daddr @reserved4 return
        ip6 daddr @reserved6 return
        meta l4proto tcp redirect to :@TPORT@
    }
}
