config meow 'main'
	option enabled '0'
	option config_file '/etc/meow/config.yaml'
	option work_dir '/etc/meow'
	option panel_port '9090'
	option secret ''

config transparent 'tproxy'
	option enabled '0'
	option mode 'tproxy'
	option interface 'lan'
	option tproxy_port '7893'
	option dns_hijack '1'
	option dns_port '1053'
	option ipv6 '0'

config arp_hijack 'arp'
	option enabled '0'
	option interface 'lan'
	option gateway ''
	option interval '2'
